<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 800px;">
      <div class="carousel-item active">
        <img src="/assets/img/slide1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          </div>
        
      </div>
      <div class="carousel-item">
        <img src="/assets/img/slide2.jpg" class="d-block w-100 " alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/slide3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<div class="container mt-5 ">
    <div class="card text-center p-4">
        <h1 class="fs-2 text-uppercase">Welcome to Safar Sathi</h1>
        <div class="row">
            <div class="col-lg-3 mt-4" *ngFor="let p of packageDetails">

                <div class="card"  style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title text-uppercase font-weight-bold text-primary fs-4">{{p.packageName}}</h5>
                      <p class="card-text fs-5" style="white-space:inherit; width : 100%; height: 60px; overflow: hidden; text-overflow: ellipsis;">{{p.description}}</p>
                      <p class="fs-5"> ₹ <s> {{p.packageActualPrice}} </s> &nbsp; &nbsp; ₹ {{p.packageDiscountedPrice}}</p>
                      <a  class="btn btn-danger" (click)="showPackageDetails(p.packageId)">View Details</a>
                    </div>
                  </div>
            </div>
        </div>

    </div>
</div>
